<ul class="nav flex-column animated bounceInDown custom-vertical-nav">
    <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
    </li>

    <li class='nav-item sub-menu'><a href='fhd-eppsilon.html' class="nav-link">FHD/eppsilon pipeline on Oscar<div class='fa fa-caret-right right'></div></a>
        <ul class="list-unstyled">
            <li class='nav-item'>
                <a class="nav-link" href='fhd-eppsilon.html#idl-startup'>Setting up IDL </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='fhd-eppsilon.html#fhd-deps'>FHD Dependencies</a>
            </li>
            <li class='nav-item sub-menu'><a class="nav-link" href='fhd-eppsilon.html#dep-link-test'>Dependency Linking and Testing <div class='fa fa-caret-right right'></div></a>
                <ul class="list-unstyled">
                    <li class="nav-item"><a class="nav-link" href='fhd-eppsilon.html#idl-startup-file'>IDL Startup File</a></li>
                    <li class="nav-item"><a class="nav-link" href='fhd-eppsilon.html#fhd-env-sourcing'>FHD Environment Sourcing</a></li>
                    <li class="nav-item"><a class="nav-link" href='fhd-eppsilon.html#test-file'>Test File</a></li>
                </ul>
                </li>
            <li class="nav-item">
                <a class="nav-link" href='#'>Summary</a>
            </li>
        </ul>
    </li>
</ul>
