<ul class="nav flex-column animated bounceInDown custom-vertical-nav">
    <li class="nav-item">
        <a class="nav-link active" href="index.html">Home</a>
    </li>

    <li class='nav-item sub-menu'><a href='page1-idl-setup.html' class="nav-link">FHD/eppsilon pipeline on Oscar<div class='fa fa-caret-right right'></div></a>
        <ul class="list-unstyled">
            <li class='nav-item'>
                <a class="nav-link" href='page1-idl-setup.html'>Setting up IDL </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='page2-fhd-deps.html'>FHD Dependencies</a>
            </li>
            <li class='nav-item sub-menu'><a class="nav-link" href='page3-dep-link-test.html'>Dependency Linking and Testing <div class='fa fa-caret-right right'></div></a>
                <ul class="list-unstyled">
                    <li class="nav-item"><a class="nav-link" href='page3-dep-link-test.html#idl-startup-file'>IDL Startup File</a></li>
                    <li class="nav-item"><a class="nav-link" href='page3-dep-link-test.html#fhd-env-sourcing'>FHD Environment Sourcing</a></li>
                    <li class="nav-item"><a class="nav-link" href='page3-dep-link-test.html#test-file'>Test File</a></li>
                </ul>
                </li>
            <li class="nav-item">
                <a class="nav-link" href='page4-summary.html'>Summary</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='page5-examples.html'>Examples</a>
            </li>
        </ul>
    </li>

    <li class='nav-item sub-menu'><a href='wsclean1-oscar.html' class="nav-link">WSClean<div class='fa fa-caret-right right'></div></a>
        <ul class="list-unstyled">
            <li class='nav-item'>
                <a class="nav-link" href='wsclean1-oscar.html'>Installation on Oscar</a>
            </li>
            <li class='nav-item sub-menu'><a class="nav-link" href='wsclean2-usage.html'>Usage<div class='fa fa-caret-right right'></div></a>
                <ul class="list-unstyled">
                    <li class="nav-item"><a class="nav-link" href="wsclean2-usage.html#oscar-wsclean-access">Access Examples on Oscar</a></li>
                    <li class="nav-item"><a class="nav-link" href="wsclean2-usage.html#basic-wsclean-run">Basic WSClean run</a></li>
                    <li class="nav-item"><a class="nav-link" href="wsclean2-usage.html#advanced-wsclean-run">Advanced WSClean run</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
